* {
  margin: 0;
  padding: 0;
  font-family: Palatino;




}

#dropdown a {
    color: white !important;
  }


@media only screen and (max-width: 800px) {
  a {
  text-decoration: none;
  color: white;
  }

  nav h1 {
      display: none;
  }

  nav {
    width: 100%;
    height: 90px;
    background-color: black;
    z-index: 0;


  }

  nav img {
    height: 100%;
    width: 90px;
    display: block;
    
    align-items: center;
    margin: 0 auto;
  }

  #navbar {
    text-align: center;
    background-color: black;
    padding-bottom: 1em;
    display: none;
    z-index: 1;
    position: relative;
  }

  #dropdown {
    display: none;
    list-style: none;
    text-decoration: none !important;
    background-color: black;
    height: 50px;
    margin: 0 auto;
    width: 100%;
   
  }

  .options {
    display: block;
    padding: 1em;
    font-size: 25px;

  }

  
  




}

/* Special Mode where no title */

@media only screen and (min-width: 801px) and (max-width: 1119px) {
  nav {
  width: 100%;
  height: 90px;
  background-color: black;
  display: flex;
  position: relative;
  align-items: center;
  z-index: 2;
 
  }
  nav h1 {
    display: none; 

  }

  nav img {
  height: 100%;
  display: inline-block;
  padding-left: 4%;

  }

  nav ul {
   position: absolute;
   right: 0;
   padding-right: 4%;
  }

  nav ul li {
    float: left;
    list-style: none;
    position: relative; /* we can add absolute position in subcategories */
    



  }

  nav ul li a {
    display: block;
    color: white !important;
    font-size: 20px;
    text-decoration: none;
    padding-left: 2.5em;
  }


}

@media only screen and (min-width: 1120px) {

nav h1 a {
  text-decoration: none;
  color: white !important;
  padding-top: 8px;
} 


nav {
  width: 100%;
  height: 90px;
  background-color: black;
  display: flex;
  
  align-items: center !important;
  position: relative;
  z-index: 2;
 
}

nav img {
  height: 100%;
  display: inline-block;
  padding-left: 4%;
}
nav h1 a {
display: inline-block;


color: white !important;
font-size: 40px;
line-height: 55px;



}

nav div ul {
 position: absolute;
 right: 0;
 padding-right: 4%;
}

nav div ul li {
  float: left;
  list-style: none;
  position: relative; /* we can add absolute position in subcategories */
  padding-right: 1em;



}

nav ul li a {
  display: block;

  color: white !important;
  font-size: 20px;
  text-decoration: none;
  padding-right: 1em;
  padding-bottom: 1em;
}


}







