

* {
    margin: 0;
    padding: 0;
    font-family: "Book Antiqua", "Palatino Nova", Palatino;
}

p {
	padding: 1em 0;
	font-size: 20px;

}

@media only screen and (max-width: 800px) {
	.date {
		margin-bottom: .5em !important;
	}

	.content {
		margin: 0 1em;
	}

	.main-title {
	
	text-align: center;
	font-weight: 800;
	font-size: 30;
	margin-top: 4em;
	margin-bottom: 1.5em;



	}

.main-title h1 {
 font-size: 50px;
 font-weight: 800;
 
}

.main-title h3 {
	font-size: 40px;
	font-weight: 800;
} 

.content img {
   margin-top: 1em;
    max-width: 100%;
}


.title {
	font-size: 40px;
	margin-top: 1em;
	
}

.sub-title {
	font-size: 33px;
	padding-top: 1em;

}

.content h4 {
	font-size: 25px;
	padding-top: 1em;

}

.audience ul li {
	font-size: 20px;
	

}

.audience h3 {
	font-size: 2em;
	margin-left: 1em;
	
}

.audience ul {
	padding-left: 3.5em;
	margin-bottom: 1em;
}

.action-header {
	padding-top: 1em;
}

.quote {
	text-align: center;
	padding-top: 1.5em;
}

.caption {
	font-size: 1em;

	padding: 0 0;
	padding-top: 4px;
	text-align: center;
}

.infographic {
	padding-bottom: 2em !important;
}

}


@media only screen and (min-width: 801px) {



.content {
	margin-left: 6em;
	margin-right: 20em;
	width: 19vw !important;
	z-index: 0;
}



.main-title {
	
	text-align: center;
	font-weight: 800;
	font-size: 30;
	margin-top: 4em;
	margin-bottom: 1.5em;



}

.main-title h1 {
 font-size: 50px;
 font-weight: 800;
 
}

.main-title h3 {
	font-size: 40px;
	font-weight: 800;
} 

.content img {
   margin-top: 1em;
    max-width: 100%;
}


.title {
	font-size: 40px;
	margin-top: 1em;
	
}

.sub-title {
	font-size: 33px;
	padding-top: 1em;

}

.content h4 {
	font-size: 25px;
	padding-top: 1em;

}

.audience ul li {
	font-size: 20px;
	

}

.audience h3 {
	font-size: 2em;
	margin-left: 1em;
	
}

.audience ul {
	padding-left: 3.5em;
	margin-bottom: 1em;
}

.action-header {
	padding-top: 1em;
}

.quote {
	text-align: center;
	padding-top: 1.5em;
}

.caption {
	font-size: 1em;

	padding: 0 0;
	padding-top: 4px;
	text-align: center;
}

.infographic {
	padding-bottom: 2em !important;
}

}